<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>boardTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>board.web.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/BoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDetailServlet</display-name>
    <servlet-name>PostDetailServlet</servlet-name>
    <servlet-class>post.web.PostDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDetailServlet</servlet-name>
    <url-pattern>/PostDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateServlet</display-name>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>board.web.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/BoardUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoardServlet</display-name>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <servlet-class>board.web.UpdateBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <url-pattern>/UpdateBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostUpdateServlet</display-name>
    <servlet-name>PostUpdateServlet</servlet-name>
    <servlet-class>post.web.PostUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostUpdateServlet</servlet-name>
    <url-pattern>/PostUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostNewServlet</display-name>
    <servlet-name>PostNewServlet</servlet-name>
    <servlet-class>post.web.PostNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostNewServlet</servlet-name>
    <url-pattern>/PostNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDeleteServlet</display-name>
    <servlet-name>PostDeleteServlet</servlet-name>
    <servlet-class>post.web.PostDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDeleteServlet</servlet-name>
    <url-pattern>/PostDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>